.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #a8a8a8;
}

.formsContainer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 90%;
}

.formBlock {
  height: 100%;
  width: 45%;
  padding: 20px;
  border-radius: 10px;
  margin: 0 40px;
  background: rgba(var(--card-rgb), 0.2);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.formHeader {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 35px;
  letter-spacing: 0.5px;
}

.glow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 4rem 0;
  z-index: -1;
}

.glow::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -800px;
}

.glow::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.glow::before,
.glow::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.glow:nth-of-type(1)::before {
  background: rgb(27, 3, 70);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -800px;
  margin-top: 90px;
}
.glow:nth-of-type(1)::after {
  background: rgb(144, 167, 238);
  width: 240px;
  height: 180px;
  z-index: -1;
  margin-left: 400px;
}
.glow:nth-of-type(1)::before,
.glow:nth-of-type(1)::after {
  content: "";
  top: 20%;
  position: absolute;
  filter: blur(95px);
  transform: translateZ(0);
}

@media (max-width: 1280px) {
  .formBlock {
    margin: 0;
    margin: 10px;
  }
}

@media (max-width: 1200px) {
  .formBlock {
    width: 100%;
    margin: 10px;
  }
}

@media (max-width: 1000px) {
  .formsContainer {
    flex-direction: column;
    width: 65%;
  }

  .formBlock {
    margin: 0 0 50px 0;
  }

  .glow::after {
    background: var(--primary-glow);
    width: 290px;
    height: 280px;
    z-index: -1;
    top: -200px;
    margin-left: -200px;
  }

  .glow:nth-of-type(1)::before {
    margin-left: 50px;
    margin-top: -800px;
  }
}

@media (max-width: 800px) {
  .formsContainer {
    width: 80%;
  }
}
