.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.5);
  }
}

.blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1.2;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 5s linear infinite;
  opacity: 0.5;
  z-index: -2;
}
.blob2 {
  background-color: white;
  height: 14vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(255, 255, rgb(0, 0, 0) 0, 0));
  animation: scale 5s linear infinite;
  opacity: 0.5;
  z-index: -2;
}
.blur {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  backdrop-filter: blur(12vmax);
  z-index: -1;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.slider {
  height: 126px;
  margin-bottom: 5px;
  display: flex;
  padding: 20px;
  width: 90vw;
}

@keyframes moveSlideshow {
  0% {
    transform: translate(0%);
  }

  100% {
    transform: translate(-100%);
  }
}

.mover {
  animation: moveSlideshow 10s linear infinite;
}
