.main {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.page {
  min-height: 100vh;
  margin-top: 100px;
}

.lighth {
  position: relative;
  background-color: #000;
  height: 300px;
  width: 100%;
  perspective: 100px;
  overflow: hidden
}
.lighth::before {
  content: '';
  position: absolute;
  background: linear-gradient(0, transparent, #000);
  top: 0;
  right: -100vh;
  left: -100vh;
  height: 20px;
  z-index: 99
}
.lightv {
  position: relative;
  background-color: black;
  color: #e5279d;
  height: 100%;
  width: 100%;
  transform: rotateX(25deg);
}
.lightv::before {
  content: '';
  position: absolute;
  background-color: currentColor;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -100vh;
  bottom: -100vh;
  left: 50%;
  width: 10px;
  box-shadow: -140px 0 0 currentColor, -290px 0 0 currentColor, -440px 0 0 currentColor, -590px 0 0 currentColor, -740px 0 0 currentColor, -890px 0 0 currentColor, -1040px 0 0 currentColor, -1190px 0 0 currentColor,
  140px 0 0 currentColor, 290px 0 0 currentColor, 440px 0 0 currentColor, 590px 0 0 currentColor, 740px 0 0 currentColor, 890px 0 0 currentColor, 1040px 0 0 currentColor, 1190px 0 0 currentColor
}
.lightv::after {
  content: '';
  position: absolute;
  background-color: currentColor;
  top: 0;
  right: -100vh;
  left: -100vh;
  height: 10px;
  box-shadow: 0 90px 0 0 currentColor, 0 190px 0 currentColor, 0 290px currentColor,
  0 -90px 0 0 currentColor, 0 -190px 0 currentColor, 0 -290px currentColor;
  animation: lightv 1s linear infinite;
}
@keyframes lightv {
  from {
    transform: translateY(0)
  }
  to {
    transform: translateY(97.7px)
  }
}


@media (max-width: 790px) {
  .main {
    margin: 100px 0;
  }
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.5);
  }
}

.blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1.2;
  position: absolute;
  left: 50%;
  top: 30%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 5s linear infinite;
  opacity: 0.3;
  z-index: -2;
}
.blob2 {
  background-color: white;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 30%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(255, 255, rgb(0, 0, 0) 0, 0));
  animation: scale 5s linear infinite;
  opacity: 0.5;
  z-index: -2;
}
.blur {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  backdrop-filter: blur(12vmax);
  z-index: -1;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.sliderContainer {
  display: flex;
  height: 100%;
  margin-top: 700px;
}

.slider {
  height: 126px;
  display: flex;
  width: 90vw;
}

.slider:before,
.slider:after {
  position: absolute;
  width: 20%;
  height: 126px;
  content: "";
  z-index: 2;
}

.slider:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.slider:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

@keyframes moveSlideshow {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.mover {
  animation: moveSlideshow 30s linear infinite;
}
