.frame {
  background-color: #ddc;
  border-bottom-color :#fff;
  border-left-color :#eee;
  border-right-color :#eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 20px;
  height: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}

.labelContainer {
  display: flex;
  justify-content: center;
}

.labelContents {
  padding: 7px 12px;
  margin-top: 2%;
  border: solid 2px;
  border-radius: 4px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  background-color: #f6f6f6;
  position: relative;
}

@media (max-width: 950px) {
  .labelContents {
    padding: 1px 5px 1px 5px;
  }
}

.artist {
  color: #5e5e5e;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.fullScreenContainer {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  animation: slideUp 0.5s ease-in-out;
}

.closeButton {
  display: flex;
  margin: 20px 30px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  cursor: pointer;
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  height: 100%;
  width: 100%;
  animation: spinning 7s linear infinite;
  border-radius: 100%;
  filter: blur(100px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
  opacity: 0.4;
}

.spinner:nth-child(2) {
  background-image: linear-gradient(rgb(35, 128, 209) 35%, rgb(0, 195, 240));
  position: absolute;
  top: 190%;
  left: 300%;
  transform: translate(-50%, -50%);
  animation: spinning-child 7s linear infinite;
  height: 500px;
  width: 500px;
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinning-child {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}